.card-div{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 55, 55, 0.358);
  padding:1rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(101, 5, 5, 0.2);
}